# Generate an open API key and update here
OPENAI_API_KEY='your-openai-api-key'

# Create and update HuggingFaceHub API key, if using that
# HUGGINGFACEHUB_API_TOKEN='your-huggingface-api-token'

LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="your-langchain-api-key"
LANGCHAIN_PROJECT="langchain_project_tracing"

# Tavily search
TAVILY_API_KEY='your-tavily-api-key'

# Anthropic API key for claude-sonnet 
ANTHROPIC_API_KEY='anthropic-api-key'