supervisor
gunicorn
Flask
requests
python-dotenv
openai
streamlit
google-api-python-client
faiss-cpu
google-auth-httplib2
google-auth-oauthlib
APScheduler
celery
redis
SQLAlchemy

# Optional dev/test tools
# pytest
# black